:root {
  --main-color: #37B7C4;
  --second-color: #09A5B0;
  --button-color: #41B3A2;
  --trans-color: #09A5B0;
  --green-color: #0D7C66;
  --background-color: #088395;
  --text-color: #fff;
}

/*Global*/
.link-icons {
  color: var(--background-color);
}


body {
  font-family: "Cairo", system-ui;
}


ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* make header likes */
.links {
  background-color: #eee;
  padding: 10px 0;
  height: 55px;
}

.links ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.links .list-item {
  margin-right: 7px;
}

.links .list-item:nth-child(3){
  padding-right: 10px;
  border-right: 1px solid var(--second-color);
}

.links .list-item:last-child {
  margin-left: 2px;
}

.links .list-item:last-child .link-icons {
  margin-right: 5px;
}

.links .list-item a {
  color: var(--main-color);
}



.links .auth button {
  background-color: var(--second-color);
  color: white;
  margin-right: 7px;
}

/* Second part of header */

.phone a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone a:hover {
  color: var(--second-color);
}

#logo img {
  width: 100px;
  height: 100px;
}

.logo h3 {
  color: #088395;
}
/*Create Nav bar*/
nav {
  /* background-color: var(--main-color); */
  background-color: var(--background-color)
}

button.book, 
section button.book {
  background-color: var(--button-color); /*or button*/
  color: white;
}

button.book:hover {
  color: white
}

button.book img,
section button.book img  {
  width: 30px;
  height: 30px;
}

/*search and ask about this*/
.nav-link.active {
  background-color: var(--button-color);
  border-radius: 3px;
}


/* Landing and slider */
section.landing {
  height: 800px;
}

section.landing img {
  height: 800px;
  object-fit: cover;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px; /* Adjust as necessary */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px; /* Space between indicators */
}

.indicator {
  width: 20px; 
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--green-color);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.indicator.active {
  background-color: var(--button-color);
}

.indicator:hover {
  transform: scale(1.1);
}

.overlay {
  background-color: #0D7C66;
  z-index: 999;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0.4;
}

.better-life {
  width: fit-content;
  height: fit-content;
  background-color: var(--text-color);
  bottom: 10px;
  right: 0;
  z-index: 99999;
  padding: 20px;
  transform: translateX(0);
  transition: transform 5s ease-in-out 1s;
}


.text {
  margin-right: 150px;
}

@media (min-width: 1270px) {
  .better-life {
    width: 40%;
  }
}

/* Who us section */
.who-us {
  margin: 150px 0 50px;
}

.who-us .text {
  width: 450px;
  line-height: 2;
}

.who-us .image img {
  border-radius: 10px 10px 220px 10px;
  border: 1px solid var(--button-color);
  box-shadow: 14px 8px 4px 0 var(--trans-color);
}